### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution
test.py
.Python
build/
inc/
dist/
downloads/
MANIFEST

# VS Code
.vscode/

# Visual basic scripts
*.vbs