### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv/


# Distribution
test.py
.Python
build/
inc/
dist/
downloads/
MANIFEST

# IDE
.vscode
.idea

# Visual basic scripts
*.vbs

